---

- name: Save provisioner password
  become: true
  ansible.builtin.copy:
    content: "{{ step_ca_client_provisioner_password }}"
    dest: "{{ step_ca_client_provisioner_password_file }}"
    mode: '0600'

- name: Create service certificate using step-ca
  become: true
  ansible.builtin.command:
    cmd: >-
      step ca certificate {{ step_ca_client_cert_name }} {{ step_ca_client_cert_file }} {{ step_ca_client_key_file }}
      --provisioner ansible
      --provisioner-password-file {{ step_ca_client_provisioner_password_file }}
      --not-after {{ step_ca_client_cert_not_after }}
      --force
  args:
    creates: "{{ step_ca_client_cert_file }}"

- name: "Create cert-renewer systemd service file"
  become: true
  ansible.builtin.template:
    src: "cert-renewer/cert-renewer.service.j2"
    dest: /etc/systemd/system/cert-renewer.service
    owner: root
    mode: "0644"
  register: cert_renewer_service

- name: "Create cert-renewer systemd timer file"
  become: true
  ansible.builtin.template:
    src: "cert-renewer/cert-renewer.timer.j2"
    dest: /etc/systemd/system/cert-renewer.timer
    owner: root
    mode: "0644"
  register: cert_renewer_timer

- name: "Reload systemd"
  become: true
  changed_when: true
  ansible.builtin.systemd:
    daemon_reload: true
  when: cert_renewer_service.changed or cert_renewer_timer.changed
  register: systemd_reload

- name: "Enable and start cert-renewer timer"
  become: true
  ansible.builtin.systemd:
    name: cert-renewer.timer
    enabled: true
    state: started
