---

- name: Save provisioner password
  become: true
  ansible.builtin.copy:
    content: "{{ step_ca_client_provisioner_password }}"
    dest: "{{ step_ca_client_provisioner_password_file }}"
    mode: '0600'

- name: Deploy cert-manager script
  become: true
  ansible.builtin.template:
    src: "cert-manager/cert-manager.sh.j2"
    dest: /usr/local/bin/step-ca-cert-manager.sh
    owner: root
    group: root
    mode: "0755"

- name: "Create cert-manager systemd service file"
  become: true
  ansible.builtin.template:
    src: "cert-manager/cert-manager.service.j2"
    dest: /etc/systemd/system/cert-manager.service
    owner: root
    mode: "0644"
  register: cert_manager_service

- name: "Create cert-manager systemd timer file"
  become: true
  ansible.builtin.template:
    src: "cert-manager/cert-manager.timer.j2"
    dest: /etc/systemd/system/cert-manager.timer
    owner: root
    mode: "0644"
  register: cert_manager_timer

- name: "Reload systemd"
  become: true
  changed_when: true
  ansible.builtin.systemd:
    daemon_reload: true
  when: cert_manager_service.changed or cert_manager_timer.changed

- name: Check if certificate exists
  ansible.builtin.stat:
    path: "{{ step_ca_client_cert_file }}"
  register: cert_file_stat

- name: Run cert-manager service for initial setup
  become: true
  ansible.builtin.systemd:
    name: cert-manager.service
    state: started
  when: not cert_file_stat.stat.exists

- name: "Enable and start cert-manager timer"
  become: true
  ansible.builtin.systemd:
    name: cert-manager.timer
    enabled: true
    state: started
